name: Build and Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build and Publish
      run: dotnet publish "HieuckIT-App-Installer.csproj" --configuration Release --self-contained true --runtime win-x64

    - name: Package Application for Testing
      run: Compress-Archive -Path "bin/Release/net6.0-windows/win-x64/publish/*" -DestinationPath "HieuckIT-App-Installer-Build.zip"
      shell: pwsh

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: HieuckIT-App-Installer-Build
        path: ./HieuckIT-App-Installer-Build.zip
